@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
/* reset css */

html{
    font-size: 62.5%;
}
body{
    font: 1.6rem 'Open Sans',sans-serif;
    margin: 0;
    line-height: 1.6;
}
h1,h2,h3{
    font-weight: 300;
    margin: 0;
}
p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #222;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}
button{
    background-color: transparent;
    border: 0;
}
/*
    theme
*/
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #000 #FFF;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}
:root{
    --color-default:  #292F33;
    --color-primary: #55ACEE;
    --color-secondary: #66757F;
    --color-block: #CCD6DD;
    --color-last-bg: #fff;
}
body{
    background-color: var(--color-secondary);
}
header{
    background-color: var(--color-default);
}
header h1{
    line-height: 6.5rem;
    color: var(--color-last-bg);
    text-align: center;
    padding: 2rem 0;
}
main .grid-picture-large{
    display:  grid;
    max-width: 90rem;
    margin: 5rem auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}
ul figure{
    position: relative;
}
ul figure .material-icons{
    vertical-align: -.4rem;
}
/* Overley effect */
ul figure figcaption{
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    transform: scale(0);
    transition: all 500ms ease-in-out;
    transform-origin: center center;
    cursor: pointer;
    color: #fff;
    text-align: center;
}
ul figure:hover figcaption{
    transform: scale(1);
}
/* modale */
.modale{
    max-width: 80rem;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.6);
    z-index: -1;
    opacity: 0;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    
}
.modale .desc{
    position: static;
    transition: none;
    background-color: #fff;
    color: #222;
    
}
.modale-active{
    z-index: 1;
    opacity: 1;
    transform-origin: center center;
}
.modale .desc h3{
    font-size: x-large;
    font-weight: 400;
    background-color: #222;
    color: #fff;
    padding: 1rem;
}
.modale .desc p :is(time){
    padding: 1rem;
}
.modale button{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    z-index: 2;
    color: #333;
    cursor: pointer;
}
footer p{
    text-align: center;
}
